<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kerala Rescure Web">
    <title>Kerala Rescue</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../static/assets/css/layouts/style.css">
    <!--<![endif]-->
</head>

<body>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" style="text-transform: none" href="index.html"><i class="fa fa-home"></i>Home</a>
            <a class="pure-menu-heading" style="text-transform: none" href="https://play.google.com/store/apps/details?id=in.co.iodev.keralarescue">
                    <i class="fa fa-android"></i> Download the Android App
                </a>
        </div>
    </div>
    <div class="disclaimer">
        <h1 style="text-align: center;">Disclaimer</h1>
        <hr style="width: 30%">
        <p>
            &nbsp;&nbsp;This portal has been developed for effective collaboration between various stakeholders such as citizen, various NGOs and volunteers. The developers of this website makes no representation regarding the completeness, accuracy of any information and data contained on this portal or that such information and data will be error-free. Stakeholders are trying to make their best effort to support, any information received through the portal the requests received through this portal doesn’t warrant any commitment on the services. By using this site you acknowledge that you have read and agree to this
        </p>
    </div>
    <footer class="footer">
        <div>
            <a style="font-weight: bold;text-transform: none;" href="disclaimer.html">Disclaimer</a>
            <span>&nbsp;|&nbsp;</span>
            <a target="_blank" href="https://github.com/devpranoy/keralarescue">Github</a>
        </div>
    </footer>


<script src="../static/assets/js/jQuery-ajax.min.js"></script>
<script src="../static/assets/js/moment.min.js"></script>

<script src="../static/assets/js/service.js"></script>

</body>

</html>
