<html>
    <head>
<title>
    rescueapp
</title>
    </head>
    <body>
        <div>
            Kerala Flood Rescue - Food and Material Requests
            <hr>
            <div>
            District &nbsp; &nbsp; &nbsp; &nbsp; Category of Request
            </div>
            <form>
                <select name = "district">
                   <option>Alappuzha</option>
                </select>
                <select name = "type">
                        <option>Food + Water</option>
                     </select>
                    <input type="submit" Value="Submit"></input>
            </form>
        </div>
        <div>
            <div>
                1 Request for Food and Water &nbsp; &nbsp; &nbsp; &nbsp; 
                    <select name = "sort">
                        <option>Sort by Latest</option>
                     </select>
            </div>
            <div>
                <br>
                REQUESTED FROM  &nbsp; &nbsp;&nbsp;&nbsp; PHONE NUMBER<br>
                Panamaram Wayanad  &nbsp; &nbsp;&nbsp;&nbsp; 898989889898, 83493489348<br>
                <br><br>
                Quantity &nbsp;&nbsp;&nbsp;&nbsp; Extra notes <br>
                10 Bottles and food for 10 people &nbsp;&nbsp;&nbsp; Food for 10 people among which 3 are kids <br>
                <br><br>
                <button> View on Map </button> &nbsp; &nbsp;&nbsp; <button> Accept Request </button> &nbsp; &nbsp;&nbsp; <button> share icon </button>
            </div>
        

        </div>
    </body>
</html>